body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.logo {
    width: 2.5rem;
}

nav {
    margin-left: auto;
}

ul {
    list-style-type: none;
    display: flex;
    margin-bottom: 0;
}

li, li a {
    color: #999;
}

li {
    margin: 0 12px;
}

li a {
    text-decoration: none;
    transition: 0.2s;

    hover {
        text-decoration: underline;
        color: darken(#999, 25%);
        transition: 0.2s ease-in-out;
    }
}

.button-custom-primary {
    color: #fff;
    background-color: #ea625c;
    letter-spacing: -1px;
    border: none;
    border-radius: 0;

    hover {
        color: darken(#ea635c, 20%);
    }
}

.side-image {
    border-bottom: 1px solid #e0dfdf;
    background: url(../img/watches.jpg);
    background-position-x: 55rem;
    background-size: contain;
    background-repeat: no-repeat;
    height: 800px;
}

.img-preview {
    display: inline-block;
}

.bottom-section {
    background: url(../img/runners.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
