body {
  height: 100%;
  margin: 4px;
  background-color: #f2ce97;
  text-align: center;
  font-family: Roboto, sans-serif;
}

.container {
  margin: 76px auto;
  width: 76vw;
  display: flex;
  text-align: left;
}

.title-and-profile {
  background-color: #484956;
  flex-basis: 40%;
  padding: 20px;
  color: #fff;
}

.title-box {
  font-size: 24px;
}

.title {
  margin-top: 16px;
  margin-bottom: 0px;
}

.subtitle {
  margin: 0px;
  font-weight: 400;
}

.highlight {
  color: #e37b62;
  background-color: #e37b62;
  border: hidden;
  height: 4px;
  width: 44px;
  position: relative;
  right: 44%;
}

.article-and-footer {
  background-color: #fff;
  flex-direction: column;
  flex-basis: 60%;
  padding: 20px;
}

.capital-letter {
  font-size: 24px;
  font-weight: bold;
}
