body {
  height: 100%;
  margin: 4px;
  background-color: #f2ce97;
  text-align: center;
}

.container {
  margin: 76px auto;
  width: 76vw;
}

.title-and-profile {
  background-color: #484956;
}

.article-and-footer {
  background-color: #fff;
}
