body {
  height: 100%;
  margin: 4px;
  text-align: center;
  background-color: #f8ebe9;
}

/* Tame those images! */
img {
  max-height: 100%;
  max-width: 100%;
}

/* Modifiers */
.link {
  text-decoration: none;
}

.caption {
  text-transform: uppercase;
}
/* --------- */

.container {
  display: flex;
  margin: 32px auto;
  width: 80vw;
  background-color: #fff;
  box-shadow: 0px 12px 8px 0px rgba(0, 0, 0, 0.2);
}

.side-image {
  flex-basis: 30%;
  background-image: url(img/background.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.back-button {
  display: flex;
  align-items: center;
  padding: 16px;
}

.text-card {
  flex-basis: 70%;
  padding: 20px;
}

.nav-bar {
  display: flex;
  flex-direction: row-reverse;
}

.nav-item {
  list-style-type: none;
}

.content {
  display: flex;
}

.photo-and-caption {
  text-align: left;
}

.photo-and-button {
  background-image: url(img/preview.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 20vw;
  width: 20vw;
  display: flex;
  height: 156px;
  width: 240px;
}

.play-box {
  border-radius: 100%;
  background-color: #fff;
  padding: 8px;
  margin: auto;
}

.view-more-box {
  display: flex;
  align-items: center;
}
