body {
  height: 100%;
  margin: 4px;
  text-align: center;
  background: linear-gradient(0deg, #cfdde8, #8cacc8);
  font-family: Roboto;
}

.card {
  background-color: #fff;
  width: 30vw;
  margin: 96px 36%;
}

.chat-recipient {
  display: flex;
  background-color: #6a96d8;
  align-items: center;
  padding: 12px;
}

ul {
  flex-grow: 1;
  text-align: left;
  margin: 0px;
}

li {
  color: #fff;
  margin-left: -16px;
  font-weight: bold;
}

.img-box {
  flex-grow: 1;
  text-align: right;
}

/* Center the current day */
.day-header {
  display: flex;
  align-items: center;
  color: #e6e1de;
}

.current-day {
  text-align: center;
}

hr {
  width: 60%;
  height: 0px;
  color: inherit;
}
/* -------------------------------------------------------------------------- */

.message-box {
  padding: 16px;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.message-and-timestamp {
  display: inline-block;
}

.other-message {
  background-color: #e6edf6;
  padding: 8px;
}

.user-message {
  padding: 8px;
  background-color: #f2f2f2;
}

.block-message {
  background-color: #ffc2c1;
  padding: 8px;
}

.timestamp {
  background-color: #fff;
  color: #e6e1de;
}

.other-text {
  margin: auto;
}

.user-text {
  margin: auto;
}

.message-input-separator {
  width: 100%;
}

.message-input-area {
  display: flex;
}

.message-input-box {
  flex-grow: 20;
  border: hidden;
}

.send-button {
  flex-grow: 1;
  color: #6a96d8;
  letter-spacing: 4px;
  font-weight: bold;
  border: hidden;
  padding: 8px;
  background-color: #fff;
}
