body {
  height: 100%;
  margin: 4px;
  text-align: center;
  background: linear-gradient(0deg, #cfdde8, #8cacc8);
  font-family: Roboto;
}

.card {
  background-color: #fff;
  width: 50vw;
  margin: 96px 25%;
}

.chat-recipient {
  display: flex;
  background-color: #6a96d8;
  align-items: center;
  padding: 12px;
}

ul {
  flex-grow: 1;
  text-align: left;
  margin: 0px;
}

li {
  color: #fff;
  margin-left: -16px;
  font-weight: bold;
}

.img-box {
  flex-grow: 1;
  text-align: right;
}

/* Center the current day */
.day-header {
  display: flex;
  align-items: center;
  color: #e6e1de;
}

.current-day {
  text-align: center;
}

hr {
  width: 60%;
  height: 0px;
  color: inherit;
}
/* -------------------------------------------------------------------------- */

.message-box {
  padding: 16px;
}

.other-message {
  text-align: left;
  background-color: #e6edf6;
  padding: 8px;
}

.timestamp {
  background-color: #fff;
  color: #e6e1de;
}
