body {
  background-image: url(img/background.jpg);
  text-align: center;
}

.card {
  background-color: #fef;
  display: inline-block;
  border-radius: 2px;
}

.pay-methods {
  display: inline-block;
}


.card-item {
  display: flex;
  text-align: justify;
  justify-content: space-evenly;
  align-items: center;
  width: 360px;
  flex-basis: 33%;
}

hr {
  color: #afafaf;
  background-color: #afafaf;
  style: solid;
  width: 100%;
  margin: 0;
}

.card-item:hover {
  background-color: #dedede;
}

.card-flag {
  height: 32px;
}

.card-name {
  /* By fixing the width of the text element, everything else gets
     aligned, since this is the element with variable width! */
  width: 200px;
}

.next-step-card {
  color: #fff;
  background-color: #0000aa;
}

.check-mark {
  height: 24px;
}
