body {
  background-image: url(img/background.jpg);
  text-align: center;
}

.card {
  background-color: #fef;
  display: inline-block;
  border-radius: 2px;
}

.pay-methods {
  display: inline-block;
}


.card-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 360px;
}

hr {
  color: #afafaf;
  background-color: #afafaf;
  style: solid;
  width: 100%;
  margin: 0;
}

.card-item:hover {
  background-color: #dedede;
}

.card-flag {
  height: 32px;
  width: 100%;
}

.card-name {
}
