body {
    background-color: #de8a89;
    margin: 4px;
}

nav > ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    width: 80rem;
    margin-left: auto;
}

.nav-item {
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    opacity: 0.8;
    transition: 0.2s;
}

.nav-item:hover, .nav-item-active {
    opacity: 1;
}

.subtitle {
    color: #fff;
    font-size: 12px;
    width: 54rem;
    font-weight: 500;
    margin-left: 20.5rem;
}
