body {
  background-color: #8e44ad;
  text-align: center;
}

@mixin rectangle($height, $width) {
  height: $height;
  width: $width;
}

@mixin circle($size) {
  height: $size;
  width: $size;
  border-radius: 100%;
  padding: 0.5 * $size;
}

ul {
  list-style-type: none
}

.circled-number {
  background-color: blue;
  @include circle(12px);

}
.box {
  /* Center vertically and horizontally */
  @include rectangle(31rem, 42vw);
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dedede;
  margin: auto;
  padding: 1.5rem;
  text-align: left;
  display: flex;
}
