body {
  height: 100%;
  margin: 4px;
  font-family: Roboto;
  background-color: #16a085;
}

.card {
  border-radius: 2px;
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
  background-color: #fef;
  background-image: url(img/bicycle.png);
  background-size: 100%;
  background-position: 0px 172px;
  background-repeat: no-repeat;
  margin: 28px 8vw;
  padding: 24px 72px;
  height: 380px;
  overflow: hidden;
}

.title-account {
  display: flex;
  align-items: center;
  padding: 8px;
  height: 36px;
}

.title-account > h1 {
  width: 93%
}

h6 {
  margin: 0px 8px;
}

.icon-box {
  border-radius: 100%;
  border: 1px solid #ccc;
  height: auto;
  background-color: #fef;
  display: flex;
  align-items: center;
}

.account-icon {
  width: 100%;
  height: 80%;
  padding: 4px;
}

.icon-box:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

ul {
  list-style-type: none;
  padding: 8px;
}

li {
  display: flex;
  line-height: 3em;
}

.item-name {
  flex-grow: 20;
  width: 0px;                   /* Let Flexbox decide the size of the element */
}

.item-price {
  flex-grow: 1;
}
