body {
  height: 100%;
  margin: 4px;
  font-family: Roboto;
  background-color: #16a085;
}

.card {
  border-radius: 2px;
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
  background-color: #fef;
}

.title-account {
  display: flex;
  align-items: center;
  padding: 8px;
}

.icon-box {
  border-radius: 100%;
  border: 1px solid #ccc;
  height: 24px;
}
