body {
  height: 100%;
  margin: 4px;
  background-image: url(img/background.jpg);
  background-size: cover;
  background-position-y: center;
  text-align: center;
  font-family: Roboto, sans-serif;

}

/* Modifiers */
.uppercase {
  text-transform: uppercase;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.middle-push-vertical {
  margin: 16px 0px;
}
/* --------- */

.card {
  background-color: #fff;
  border-radius: 4px;
  margin: 64px auto;
  width: 25vw;
  padding: 32px;
}

.city-code-and-name-box {
  display: flex;
  align-items: center;
  margin: 16px 0px;
}

.city-code-and-name {
  flex-basis: 33%;
}

.city-code {
  font-family: Prompt, sans-serif;
  font-weight: 900;
  color: #3b8acf;
  margin: 0;
  flex-grow: 1;
  font-size: 52px;
  height: 64px;                 /* Squeezes the extra height and spaces right */
}

.hr-box {
  flex-basis: 33%;
}

.code-separator {
  color: #d3e6f4;
  background-color: #d3e6f4;
  flex-grow: 1;
  width: 32px;
  height: 4px;
  border: hidden;
}

.city-name {
  color: #abb5c2;
  flex-grow: 1;
  font-weight: bold;
}

.flight-gate-seat-box {
  display: flex;
  width: 80%;
  margin: 0;
}

.passenger-info-box {
  flex-direction: column;
  flex-grow: 1;
}

.passenger-info-box-and-qr-code {
  display: flex;
  margin-top: 16px;
  width: auto;
}

.key-and-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex-basis: 33%;
  flex-grow: 1;
}

.key {
  color: #abb5c2;
  font-size: 12px;
  font-weight: 500;
}

.value {

}

.qr-code {
  flex-grow: 1;
  text-align: right;
}

img {
  height: 100%;
  width: 62%;
}
