body {
  height: 100%;
  margin: 4px;
  background-image: url(img/background.jpg);
  text-align: center;
  font-family: Roboto, sans-serif;
}

/* Modifiers */
.uppercase {
  text-transform: uppercase;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

/* --------- */

.card {
  background-color: #fff;
  border-radius: 8px;
  margin: 96px 25%;
  width: 50vw;
  padding: 16px;
}

.city-code-and-name-box {
  display: flex;
  align-items: center;
}

.city-code-and-name {
  flex-basis: 33%;
}

.city-code {
  font-family: Prompt, sans-serif;
  font-weight: 900;
  color: #3b8acf;
  margin: 0;
  flex-grow: 1;
}

.hr-box {
  flex-basis: 33%;
}

.code-separator {
  color: #d3e6f4;
  background-color: #d3e6f4;
  flex-grow: 1;
  width: 32px;
  height: 4px;
  border: hidden;
}

.city-name {
  color: #abb5c2;
  flex-grow: 1;
}
