body {
  height: 100%;
  margin: 4px;
  background-image: url(img/background.jpg);
  text-align: center;
  font-family: Roboto, sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  margin: 96px 25%;
  width: 50vw;
}

.city-code-and-name {
  display: flex;
}

.city-code {
  font-family: Prompt, sans-serif;
  font-weight: 900;
  color: #3b8acf;
}

.code-separator {
  color: #d3e6f4;
}

.city-name {
  color: #abb5c2;
}
